body {
  background-color: #15151e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  text-align: center;
  font-size: 50px;
  line-height: 30%;
  color: #e5b026;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #e5b026;
  width: min(50%, 800px);
}

 .play-button {
  /* Layout */
  display: inline-flex; 
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Style */
  border-radius: 6px;
  border: 2px solid #e5b026;
  background: #15151e;
  /*Button Text*/
  color: #e5b026;
  text-align: center;
  padding-left: 50;
}

.play-button:hover {
  color: #15151e;
  background: #e5b026;
}